/*
 * SynthConfig.h
 *
 * Created: 2024/3/9 23:00:30
 *  Author: yuan
 */ 


#ifndef SYNTHCONFIG_H_
#define SYNTHCONFIG_H_


#define POLY_NUM 8
#define ENVELOP_LEN 256
#define DECAY_TIME_FACTOR 100

#define SoundUnitSize 10


#define USE_LINEAR_INTEROP
#define OUT_TO_AVRDX_DAC
#define ADDRESS_LARGE_THAN_64K



#endif /* SYNTHCONFIG_H_ */